:root {
  --modal-spacing: 3rem;
}

.modal {
  max-width: 600px;
  min-width: 300px;
  background-color: #071162;
  padding: var(--modal-spacing);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -4000px, 0);
  transition: transform 0.75s cubic-bezier(0.53, -0.5, 0.58, 1.3);
  will-change: transform;
  box-shadow: 0 0 50px 0 #0c0b13;
  z-index: 100;
  border-radius: 1rem;
  color: #fff;
  border: 1px solid rgb(86, 90, 105);
}

.body {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  text-align: left;
}

.title {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
  text-align: left;
}

.show {
  transform: translate3d(-50%, -50%, 0);
}

.close {
  width: var(--modal-spacing);
  height: var(--modal-spacing);
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}
.buttonConfirm {
  margin-left: 1rem;
}

.buttonConfirm:after {
  background-color: transparent;
}
