.unclaimBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: rgb(33, 114, 229);
  border: none;
  padding: 0.2rem 0.5rem;
  color: #fff;
  cursor: pointer;
  border-radius: 6px;
  font-size: 11px;
}

.unclaimBtn[disabled] {
  opacity: 0.5;
}
